# Copyright 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013
# Raffaello D. Di Napoli
#
# This file is part of Quearl.
#
# Quearl is free software: you can redistribute it and/or modify it under the terms of the GNU
# Affero General Public License as published by the Free Software Foundation, either version 3 of
# the License, or (at your option) any later version.
#
# Quearl is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
# the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero
# General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License along with Quearl. If
# not, see <http://www.gnu.org/licenses/>.
#---------------------------------------------------------------------------------------------------

# Bootstrap configuration file for the “core” module. See [DESIGN_8261 QlApplication] for why these
# few “core” module configuration entries are in this file.


####################################################################################################
# Core folders - must all include a trailing slash (“…/”)

## Locks directory. Most likely on a memory-backed filesystem, for performance reasons. Must be
# writable by the web server.
lock_lpath: data.rw/core/

## Logs directory. Must be writable by the web server.
log_lpath: data.rw/core/log/

## Installation root as seen from a remote client; see [DESIGN_5011 Remote root path].
root_rpath: /

## Private read-only data directory, for files generated automatically by processes outside of the
# web server. Inaccessible from remote clients.
rodata_lpath: data.ro/

## Private read/write data directory, for files generated by the web server. Inaccessible from
# remote clients, but readable/writable by the web server.
rwdata_lpath: data.rw/

## Host for static files (JS, CSS, graphics), as seen from a remote client. The actual server can
# still be the same machine running Quearl, but in any case it must be using the same protocol
# (http:// or https://). See [DESIGN_5015 Static files].
static_host:

## Path at which static files can be accessed by a remote client on the server specified by
# “static_host”; if the latter is empty, this must be an absolute remote path on the server running
# Quearl, i.e. it must include “root_rpath”. See [DESIGN_5015 Static files].
static_root_rpath: /.static/


####################################################################################################
# Modules

## Modules to load for every request - module directory name only; the file name “main.php” is
# implied, and that file is responsible to immediately instantiate the appropriate module class
# which will need to register itself (overload QlModule::abbr()) with the same abbreviation
# specified here. Each module can load other modules as necessary. Order matters, especially in
# determining what module gets to handle URLs (see QlModule::handle_request()).
load_modules: core

